*{
    box-sizing: border-box;
  }
  .mainvContainer{
    background: #adb0e8;
    width: 100%;
    height: 100vh;
  }
  
  .bg-navColor{
    background: #000;
  }
  
  .mainvCard {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    background:white;
    color: black;
  }
  
  .mainvButton {
    width: 100%;
    display: block;
  }